<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" parallel="classes" thread-count="2">

    <test name="TestNG Group Test">
        <groups>
            <run>
                <include name="group1"/>
            </run>
        </groups>

        <classes>
            <class name="Test1"/>
            <class name="Test2"/>
        </classes>
    </test>
</suite>
