name: Publish package to GitHub Packages
on:
  push:
    paths-ignore:
      - 'README.md'
    branches-ignore:
      - 'dependabot/**'
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@342dbebe7272035434f9baccc29a816ec6dd2c7b
      - name: Get current version
        id: current-version
#         $VERSION should contain something like "Project version: 0.4.1-SNAPSHOT"
        run: |
          VERSION=$(./gradlew currentVersion -q | grep "Project version")
          echo "currentVersionInfo=$VERSION" >> "$GITHUB_OUTPUT"
      - name: Publish package to Sonatype
        if: ${{ contains(steps.current-version.outputs.currentVersion, 'SNAPSHOT') }}
        uses: gradle/gradle-build-action@749f47bda3e44aa060e82d7b3ef7e40d953bd629
        with:
          arguments: :tests-execution-chart-commons:publishToSonatype -i
        env:
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.SONATYPE_PASSWORD }}
