name: Publish package to GitHub Packages
on:
  push:
    paths-ignore:
      - 'README.md'
    branches-ignore:
      - 'dependabot/**'
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@ccb4328a959376b642e027874838f60f8e596de3
      - name: Publish package
        uses: gradle/gradle-build-action@749f47bda3e44aa060e82d7b3ef7e40d953bd629
        with:
          arguments: :commons:publish -i
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
